version: '3.8'

services:
  postgres-auth:
    image: postgres:15-alpine
    container_name: ecommerce-postgres-auth
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_HOST_AUTH_METHOD: trust # ← Esto es CRÍTICO
    ports:
      - "5433:5432"
    volumes:
      - postgres-auth-data:/var/lib/postgresql/data
    networks:
      - ecommerce-network
    command: >
      postgres -c max_connections=100 -c shared_buffers=128MB

  redis:
    image: redis:7-alpine
    container_name: ecommerce-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - ecommerce-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: ecommerce-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - ecommerce-network
    depends_on:
      - postgres-auth

volumes:
  postgres-auth-data:
  redis-data:


networks:
  ecommerce-network:
    driver: bridge
